body {
    background-image: url('https://media.discordapp.net/attachments/1232768131148288040/1242258926402142208/FON3.png?ex=664dd808&is=664c8688&hm=0c536a85cf4f12f9dac0a8958256d4f39dc23fd1f5510c2d4e07340f57cf09c6&=&format=webp&quality=lossless&width=1606&height=903');
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    color: white;
    border-radius: 30px; /* Закругляем края */
    border: 2px solid transparent; /* Добавляем обводку */
}

.header h1 {
    margin-left: 25px;
    font-family: Arial, sans-serif; /* Изменяем шрифт текста */
}

.right-section {
    display: flex;
    align-items: center;
    margin-right: 25px; /* Смещаем содержимое вправо */
}




.custom-button3:hover {
transform: scale(1.1); /* Эффект увеличения при наведении */
box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Изменяем тень при наведении */
}

.custom-button:hover, .custom-button2:hover, .custom-button2:hover {
    background-color: #001f40;
    border-color: #156cee;
}

.description {
    text-align: center;
    margin-top: 20px; /* Уменьшаем верхний отступ до 20px */
}


h3 {
    font-family: 'Arial', sans-serif;
    font-size: 32px;
    color: #00b4ff;
    position: absolute; /* Абсолютное позиционирование */
    margin-left: 950px; /* Смещаем текст вправо */
    margin-top: -400px; /* Смещаем текст вверх */
}

.info {
    display: none;
}

#show-info:checked ~ .info {
    display: block;
}

#show-info {
    display: none;
}

label {
    cursor: pointer;
}




